In [148]:
import pandas as pd
import numpy as np

In [149]:
df = pd.read_excel("DAPP\\dog1.xlsx")

In [150]:
df.head()

,breed,common_nicknames,weight_kg,weight_lb,height_cm,height_in,coat,color,life span
0,chihuahua,"chi,chi-chi,hua-hua",1.8_2.7,4_6,15_25,6_10,"short,long",any,12_20
1,japanese spaniel,japanese chin,1.4_6.8,3_15,20_27,8_11,long,"white/black,white/red,tricolor",10_12
2,maltese dog,0,1.4_3.6,3_8,20_25,8_10,long,white,12_15
3,pekinese,pekingese,3.2_6.4,7_14,15_23,6_9,long,multi,12_14
4,shih-tzu,0,4_7.25,9_16,20_28,8_10,long,multi,10_16

In [151]:
# what dogs are missing weights in lbs
df[df['weight_lb'] == 0]

,breed,common_nicknames,weight_kg,weight_lb,height_cm,height_in,coat,color,life span
7,toy terrier,0,0,0,0,0,0,0,0
80,collie,0,0,0,0,0,0,0,0
97,eskimo dog,0,0,0,0,0,0,0,0

In [152]:
# how many breeds are missing weights in kg
df[df['weight_kg'] == 0].shape

(31, 9)

In [153]:
# what dogs are missing heights in inches
df[df['height_in'] == 0]

,breed,common_nicknames,weight_kg,weight_lb,height_cm,height_in,coat,color,life span
7,toy terrier,0,0,0,0,0,0,0,0
80,collie,0,0,0,0,0,0,0,0
97,eskimo dog,0,0,0,0,0,0,0,0

In [154]:
#how many breeds are missing heights in cm
df[df['height_cm'] == 0].shape

(35, 9)

In [155]:
# No breed information was found for "toy terrier", "collie", or " eskimo dog" because these are not 
# specific dog breeds. The images in these folders just contained several breeds with similar appearances. 
#These rows and images will not be used

print(f"size before drop {df.shape}")

df = df.drop([7,80,97], axis = 0)

print(f"size after drop {df.shape}")

size before drop (120, 9)
size after drop (117, 9)

In [156]:
def categorize_size(x):
    """
    gives a size for the passed x
    small for x < 20
    medium for x 20 to 60
    large for x > 60
    """
    if type(x) == str:
        
        split = x.split("_")
        
        if len(split) > 1:
            weight = float(split[1])
        else:
            weight = float(split[0])
            
        if weight < 20:
            return "small"
        if weight < 60:
            return "medium"
        else:
            return "large"
    else:
        return x

In [157]:
def lb_to_kg(x):
    """
    converts x from pounds to kilograms
    """
    answer = ""
    if type(x) == str:
        
        split = x.split("_")
        
        if len(split) > 1:
            min_weight = float(split[0]) * 0.453592
            max_weight = float(split[1]) * 0.453592
            min_weight = round(min_weight, 1)
            max_weight = round(max_weight, 1)
            answer = str(min_weight) + "_" + str(max_weight)
        else :
            weight = float(split[0]) * 0.453592
            weight = round(weight, 1)
            answer = str(weight)
                                             
    return answer

In [158]:
def in_to_cm(x):
    '''
    converts x from inches to cm
    '''
    answer = ""
    if type(x) == str:
        
        split = x.split("_")
        
        if len(split) > 1:
            min_height = float(split[0]) * 2.54
            max_height = float(split[1]) * 2.54
            min_height = int(min_height)
            max_height = int(max_height)
            answer = str(min_height) + "_" + str(max_height)
        else:
            height = float(split[0]) * 2.54
            height = round(height, 0)
            answer = str(height)
        
    return answer

In [159]:
df['size'] = df['weight_lb'].apply(categorize_size)
df['weight_kg'] = df['weight_lb'].apply(lb_to_kg)
df['height_cm'] = df['height_in'].apply(in_to_cm)

In [160]:
df.head()

,breed,common_nicknames,weight_kg,weight_lb,height_cm,height_in,coat,color,life span,size
0,chihuahua,"chi,chi-chi,hua-hua",1.8_2.7,4_6,15_25,6_10,"short,long",any,12_20,small
1,japanese spaniel,japanese chin,1.4_6.8,3_15,20_27,8_11,long,"white/black,white/red,tricolor",10_12,small
2,maltese dog,0,1.4_3.6,3_8,20_25,8_10,long,white,12_15,small
3,pekinese,pekingese,3.2_6.4,7_14,15_22,6_9,long,multi,12_14,small
4,shih-tzu,0,4.1_7.3,9_16,20_25,8_10,long,multi,10_16,small

In [161]:
columns = df.columns

In [162]:
df.to_csv("DAPP\\dog_final.csv", index = False)